<!DOCTYPE html>
<html>
<head>
	<title>title</title>


	<link rel="stylesheet" type="text/css" href="style.css">

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:500" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:600" rel="stylesheet">




</head>
<body>


<div class="Layer_1" ><!--шапка -->
	<div class="content">
		<a href="#"><div class="antivirus"><span class="AN">an</span><span class="TI">ti</span><span class="VIRUS"><b>virus</b></span></div></a>
		
		<div class="phone1"><img src="./image/gh1.png"></div>
	</div>
</div><!--шапка -->

<div class="Layer_2"> <!--центр -->
	<div class="content">
		
		<div class="top-menu">
		  <ul class="menu-main">
		    <li><a href=""><span style="color: red;">HOME</span></a></li>
		    <li><a href="">SERVICES</a></li>
		    <li><a href="">PRICING</a></li>
		    <li><a href="">BUSINESS PLANS</a></li>
		    <li><a href="">ABOUT</a></li>
		    <li><a href="">CONTACT</a></li>
		    <li><a href="">ONLINE BACKUP</a></li>
		  </ul>
		</div>
		
		<div class="ribbon">
			<strong class="ribbon-content"><h1>WE OFFER THEANTIVIRUS THAT HILPS KEEPING VIRUS OUT OF YOUR PC</h1>
			</strong>
		</div> 
		 
		<div class="Main_inf">
			<img src="./image/1/1.png" class="spis">
			<img src="./image/1/2.png" class="spis1">
			<img src="./image/1/3.png" class="spis2">
			<h3 class="spis_t"><b style="color: #365c75">WE</b> <b style="color: red">CONNECT</b> <b style="color: #365c75">TO YOUR SYSTEM</b>
			</h3>
			<h3 class="spis2_t"><b style="color: #365c75">WE</b> <b style="color: red">CHECK</b> <b style="color: #365c75">THE PROBLEM</b>
			</h3>
			<h3 class="spis3_t"><b style="color: #365c75">WE</b> <b style="color: red">RESOLVE</b> <b style="color: #365c75">YOUR SYSTEM</b>
			</h3>

			<div class="box"><div class="ribbon-wrapper-green"><div class="ribbon-green"><span style="color: white">GET NOW</span></div></div></div>
			<img src="./image/str.png" class="Shape_4">
			<h3 class="texts4"><b style="color: white">LIVE HELP</b>
			</h3>
		</div>
			
	</div>				
</div><!--центр -->


<div class="Layer_3"> <!--вехн черн -->
	<div class="content">
		<span class="l3T1">Do You Need a Quick Help?</span>
		<span class="l3T2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec quam ac augue pellententesque molestie non et ante. Sed quis aliquam massa</span>
		<a href="#" class="knopka">Get Now!</a>
	</div>
</div> <!--вехн черн -->




<div class="Layer_4"> <!--нижн бел -->
	<div class="content">

		<hr class="line1">
 	    <hr class="line2">
 	    <hr class="line3">
 	    <div class="block1"><span class="text_bl1" ">RESOLVE YOUR PC IN 3 STEPS...</span></div>

 	    <div class="cont1">
 	    	<p class="text_one">WE <span style="color: red">CONNECT</span> TO</p> 
			<p class="text_one">YOUR SYSTEM</p>
			<p style="text-align: center; margin-top: 25px" class="general_text">Lorem ipsum dolor sit amet, </p>
			<p style="text-align: center;" class="general_text">consectetur adipiscing elit. 
			Curabitur in tortor nisl. Curabitur 
			pharetra, ante et semper placerat, 
			mauris tortor ullamcorper libero, 
			quis fringilla tellus nulla eget arcu
			</p>
		</div>

 	    <div class="cont2">
 	    	<p class="text_one">WE <span style="color: red">CHECK</span></p> 
			<p class="text_one">THE PROBLEM</p>
			<p style="text-align: center; margin-top: 25px" class="general_text">Lorem ipsum dolor sit amet, </p>
			<p style="text-align: center;" class="general_text">consectetur adipiscing elit. 
			Curabitur in tortor nisl. Curabitur 
			pharetra, ante et semper placerat, 
			mauris tortor ullamcorper libero, 
			quis fringilla tellus nulla eget arcu
			</p>
		</div>

 	    <div class="cont3">
 	    	<p class="text_one">WE <span style="color: red">RESOLVE</span> YOUR</p> 
			<p class="text_one">SYSTEM</p>
			<p style="text-align: center; margin-top: 25px" class="general_text">Lorem ipsum dolor sit amet, </p>
			<p style="text-align: center;" class="general_text">consectetur adipiscing elit. 
			Curabitur in tortor nisl. Curabitur 
			pharetra, ante et semper placerat, 
			mauris tortor ullamcorper libero, 
			quis fringilla tellus nulla eget arcu
			</p>
		</div>
		<img src="./image/lenta.png" class="mes">
		<div class="text_two">
			<ul class="jj">
				<tr>
					<li><span class="tsif">1</span>
					<span class="osn_r" style="margin-top: 25px">Lorem ipsum <span style="color: #2a5069;">dolor sit amet, consectetur 
Curabitur</span> in tortor nisl. Curabitur pharetra,
lacerat, mauris tortor ullamcorper libero,</span> 
</li>
				</tr>
				<tr>
					<li><span class="tsif">2</span>
					<span class="osn_r">Lorem ipsum <span style="color: #2a5069;">dolor sit amet, consectetur 
Curabitur</span> in tortor nisl. Curabitur pharetra,
lacerat, mauris tortor ullamcorper libero,</span> 
</li>
				</tr>
				<tr>
					<li><span class="tsif">3</span>
					<span class="osn_r">Lorem ipsum <span style="color: #2a5069;">dolor sit amet, consectetur 
Curabitur</span> in tortor nisl. Curabitur pharetra,
lacerat, mauris tortor ullamcorper libero,</span> 
</li>
				</tr>
			</ul>

			<a href="#"><span class="Read_more">Read more</span></a>
		</div><!--Конец блока-->


	</div><!--контент -->
</div><!--нижн бел -->




<div class="Layer_5"> <!--нижн черн -->
	<div class="malish"></div>
		<div class="malish1"> <!--раб обл-->
		<div class="content" style="    height: 370px; padding-top: 35px"> <!--контент-->

		    <div class="oneCollone">
		    	<a href="#"><span class="nanpone">Home</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Services</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Pricing</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Business Plans</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> About</span></a>
		    	<div class="line"></div>
		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Contacts</span></a>
		    	<div class="line"></div>
		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Online Backup</span></a>
		    	<div class="line"></div>
		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Stydent Plans</span></a>
		    	
		    </div>

		    <div class="twoCollone">
		    	

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Services</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Pricing</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Business Plans</span></a>
		    	
		    </div>

		    <div class="treeCollone">
		    	

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Facebook</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Twitter</span></a>
		    	<div class="line"></div>

		    	<a href="http://youtube.com"><span class="nanptwo"><img src="./image/galca.png"> Youtube</span></a>
		    	<div class="line"></div>

		    	<a href="#"><span class="nanptwo"><img src="./image/galca.png"> Our Blog</span></a>
		    	
		    </div>


		    <span class="nomber1">000.123.4567</span>

		   <a href="#"><span class="TheEnd">info@antivirus.com</span></a>


		</div><!--контент -->
	</div><!--раб обл-->
</div><!--нижн черн -->






<div class="Layer_6"> <!--сам нижн -->
	<div class="content" style="    text-align: center;
    padding-top: 10px;"> <!--контент-->

		<span class="last_text";">All rights reserved by Theme Designer</span>


	</div><!--контент -->
</div><!--сам нижн -->



</body>
</html>